body{
    width: 100% !important;
    height: 100% !important;
    background: green;
}
#navbarTogglerDemo01{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}