@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
body {
  width: 100% !important;
  height: 100% !important;
  background: whitesmoke;
  font-family: outfit !important;
  padding: 0;
  margin: 0;
  cursor: default;
  font-size: 1rem;
}
#navbarTogglerDemo01 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.links-wrap {
  margin-right: 20px;
}
.links {
  margin-right: 1.5rem;
  text-decoration: none;
  text-transform: capitalize;
  font-size: 1.2rem;
  color: #fff;
}
a.navbar-brand {
  text-transform: capitalize;
  font-size: 1.5rem;
  font-weight: 500;
  font-family: outfit;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}
a.navbar-brand:hover {
  color: #fff;
}
sub {
  font-size: 0.8rem;
  margin-top: -5px;
  color: rgba(20, 19, 19, 0.904);
}
section.nav-cover nav {
  background-color: #F19A0E !important;
}
.sub-nav {
  background-color: #1a1a1a;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #fff;
  justify-content: space-between;
  padding: 10px;
}
.sec-details {
  display: flex;
}
a.mail {
  margin-left: 10px;
  padding-left: 10px;
  text-decoration: none;
  color: #fff;
  border-left: 2px solid #fff;
}
.qoute {
  background-color: #F19A0E;
  margin-right: 10px;
  padding: 5px 10px;
  border-radius: 4px;
  text-transform: capitalize;
  text-decoration: underline;
}
.qoute a {
  text-decoration: none;
  color: #fff;
}
.days {
  text-transform: capitalize;
}
div.boxed {
  width: 100%;
  height: 85vh;
  position: relative;
  object-fit: cover;
  transition: ease 1100ms;
}
div.boxed img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
div.caption-text {
  position: absolute;
  top: 0;
  background-color: #1a1a1a73;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
div.cap-text-small {
  margin-top: 20px;
  width: 80%;
  text-transform: capitalize;
  font-size: 1rem;
  color: #ffffff98;
}
.cap-text-bold {
  font-size: 4rem;
  font-weight: 800;
  text-transform: capitalize;
  color: #fff;
}
section.two {
  width: 100%;
  height: 70vh;
  background-color: #fff;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
div.boxed-image-wrap {
  width: 80%;
  height: 60%;
  margin-top: -25px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border-radius: 10px;
}
div.boxes {
  width: 25%;
  height: 100%;
  overflow: hidden;
}
div.boxes:first-child {
  background-image: url(../images/workers.png);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background-position: right;
  background-size: cover;
}
div.psudo {
  width: 100%;
  height: 100%;
  background-color: #1a1a1aab;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
  color: #fff;
}
div.psudo:nth-of-type(4) {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
div.boxes:nth-of-type(4) {
  background-position: center;
  background-size: cover;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-image: url(../images/two-colleagues-factory_1303-14331.jpg);
}
div.boxes:nth-of-type(2) {
  background-position: center;
  background-size: cover;
  background-image: url(../images/blue-trucks.jpg);
}
div.boxes:nth-of-type(3) {
  background-position: left;
  background-size: cover;
  background-image: url(../images/trucks.jpg);
}
div.text-wrap {
  width: 100%;
  height: 40%;
  display: flex;
  flex-direction: row;
    padding-left: 25px;
}
div.text-wrap div {
  padding: 0px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;
  font-size: 1rem;
}
.text-one {
  width: 50%;
  font-size: 2.3rem !important;
  font-weight: 700;
}
section.three {
  width: 100%;
  height: fit-content;
  background-color: #1a1a1a;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.div-wrap-one {
  width: 40%;
  color: #fff;
  padding: 0px 15px 0px 35px;
}
.title-sec {
  text-transform: capitalize;
  font-size: 1.8rem;
  font-weight: 200;
}
.bold-sec {
  font-size: 700;
  font-size: 3rem;
  text-transform: capitalize;
  margin-top: 10px;
}
.info-sec {
  margin-top: 20px;
}
div.image-carrier {
  width: 50%;
  height: 50%;
  position: relative;
  overflow: hidden;
}
div.image-carrier:nth-of-type(1) {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../images/wolfgang-hasselmann-nbRgZltoOck-unsplash.jpg);
}
div.image-carrier:nth-of-type(2) {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  background-image: url(../images/two-colleagues-factory_1303-14331.jpg);
}
div.image-carrier:nth-of-type(3) {
  background-position: center;
  background-size: cover;
  background-image: url(../images/1.jpg);
  /* background-repeat: no-repeat; */
}
div.image-carrier:nth-of-type(4) {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../images/Picture3.jpg);
}
div.div-wrap-two {
  width: 60%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  filter: brightness(0.7);
}
.dark-div{
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1a1a1a4b;
}
.icon-wrap{
  width: 200px;
  margin-top: -135px;
}
.icon-wrap img{
  width: 100%;
}
div.image-carrier .text-wrap{
  text-transform: capitalize;
  color: #fff;
  margin-top: 20px;
  font-size: 1.7rem;
  font-weight: 600;
  display: flex;
  justify-content: center;
}
.map-img{
   width: 200px;
  margin-top: -125px;
  margin-left: 80px;
}
.image-dip{
  margin-top: -135px;
  margin-left: 80px;
}.image-tip{
  margin-top: -85px;
  margin-left: 80px;
}